lineage name="Kenku I" {
	description "One of your birth parents is a kenku. Though kenku no longer fly, they still have instincts that help in case of a great fall."
	mutator "extend_life_expectancy" 30
	mutator "add_max_height" 26
	mutator "add_max_height" (Roll)"1d8"
	mutator "speed" "Walking" (Base)30
	mutator "add_proficiency" (Skill)"Specific" "Acrobatics"
	mutator "add_proficiency" (Skill)"Specific" "Stealth"
	feature name="Slow Fall" {
		description "While falling, you can slow the speed at which you descend and halve the bludgeoning damage taken at the end of the fall."
	}
}