system "dnd5e"
lineage name="Eladrin" {
	description "One of your birth parents is an eladrin. You are associated with one of the four seasons and have innate magic reminiscent of that season.
	- Your life expectancy increases by 375 years.
	- Your height increases by 27 + 1d12 inches.
	- Your base walking speed is 30 feet."
	mutator "extend_life_expectancy" 375
	mutator "add_max_height" 27
	mutator "add_max_height" (Roll)"1d12"
	mutator "speed" "Walking" (Minimum)30
	feature name="Fey Step" {
		/* TODO: Eladrin subtypes
		As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can’t do so again until you finish a long rest.When you reach 3rd level, your Fey Step gains an additional effect based on your season; if the effect requires a saving throw, the DC equals 8 + your proficiency bonus + your Charisma modifier:
		
		Autumn. Immediately after you use your Fey Step, up to two creatures of your choice that you can see within 10 feet of you must succeed on a Wisdom saving throw or be charmed by you for 1 minute, or until you or your companions deal any damage to it.
		
		Winter. When you use your Fey Step, one creature of your choice that you can see within 5 feet of you before you teleport must succeed on a Wisdom saving throw or be frightened of you until the end of your next turn.
		
		Spring. When you use your Fey Step, you can touch one willing creature within 5 feet of you. That creature then teleports instead of you, appearing in an unoccupied space of your choice that you can see within 30 feet of you.
		
		Summer. Immediately after you use your Fey Step, each creature of your choice that you can see within 5 feet of you takes fire damage equal to your Charisma modifier (minimum of 1 damage)
		*/
	}
}