lineage name="Orc I" {
	description "One of your birth parents is an orc. You can see in the dark and carry heavy loads."
	mutator "extend_life_expectancy" 35
	mutator-todo "add_size" {
		// height: 35"+[1,8]" = [36,43] = [3', 3'7"]
		height base=35 bonus=(Roll)"1d8"
		// weight: 112lb+([1,8]*[1,4]) = [113, 144]lb
		weight base=112 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	mutator "add_proficiency" (Skill)"Specific" "Perception"
	feature name="Powerful Build" {
		description "You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift."
	}
}