lineage name="Orc I" {
	description "One of your birth parents is an orc. You can see in the dark and carry heavy loads."
	mutator "extend_life_expectancy" 35
	mutator "add_max_height" 27
	mutator "add_max_height" (Roll)"1d8"
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	mutator "add_proficiency" (Skill)"Specific" "Perception"
	feature name="Powerful Build" {
		description "You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift."
	}
}