bundle category="Lineage" name="Halfling" {
	description "One of your birth parents is a halfling of any type or a mix of halfling parentages. You have inherited innate luck and diminutive form."
	mutator "extend_life_expectancy" 75
	mutator "add_size" {
		// height: 16"+[1,4]" = [17,20] = [1'5', 1'8"]
		height base=16 bonus=(Roll)"1d4"
		// weight: 30lb+([2,8]*2) = [34, 46]lb
		weight base=15 multiplier=1
	}
	mutator "speed" "Walking" (Base)25
	mutator "feature" name="Childlike Appearance" {
		description "You have advantage on Deception or Persuasion skill checks (your choice) against creatures of Medium size or larger."
		// TODO: skill adv with selector
	}
	mutator "feature" name="Halfling Nimbleness" {
		description "You can move through the space of any creature that is of a size larger than yours."
	}
	mutator "feature" name="Lucky" {
		description "When you roll a 1 on the d20 for an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll."
	}
}