lineage name="Halfling" {
	description "One of your birth parents is a halfling of any type or a mix of halfling parentages. You have inherited innate luck and diminutive form."
	mutator "extend_life_expectancy" 75
	mutator "add_max_height" 16
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Base)25
	feature name="Childlike Appearance" {
		description "You have advantage on Deception or Persuasion skill checks (your choice) against creatures of Medium size or larger."
		// TODO: skill adv with selector
	}
	feature name="Halfling Nimbleness" {
		description "You can move through the space of any creature that is of a size larger than yours."
	}
	feature name="Lucky" {
		description "When you roll a 1 on the d20 for an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll."
	}
}