lineage name="Lightfoot Halfling" {
	description "One of your birth parents is a lightfoot halfling. You inherited instinctive stealth."
	mutator "extend_life_expectancy" 75
	mutator "add_max_height" 16
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Base)25
	feature name="Naturally Stealthy" {
		description "You can attempt to hide even when you are obscured only by a creature that is at least one size larger than you."
	}
}