bundle category="Lineage" name="Stout Halfling" {
	description "One of your birth parents is a stout halfling. You inherited vaguely dwarven traits but with a halfling stature.
	- Your base walking speed is 25 feet.
	- Your speed is not further reduced by wearing armor with a minimum required strength."
	mutator "extend_life_expectancy" 75
	mutator "add_size" {
		// height: 16"+[1,4]" = [17,20] = [1'5', 1'8"]
		height base=16 bonus=(Roll)"1d4"
		// weight: 30lb+([2,8]*2) = [34, 46]lb
		weight base=15 multiplier=1
	}
	mutator "speed" "Walking" (Base)25
	mutator "flag" "ArmorStrengthRequirement" false
	feature name="Stout Resilience" {
		description "You have advantage on saving throws against poison, and you have resistance against poison damage."
	}
}