bundle category="Lineage" name="Triton I" {
	description "One of your birth parents is a triton. You can breathe water and swim like a fish."
	mutator "extend_life_expectancy" 100
	mutator "add_size" {
		// height: 27"+[1,10]" = [28,37] = [2'4", 3'1"]
		height base=27 bonus=(Roll)"1d10"
		// weight: 110lb+([2,20]*[2,8]) = [114, 270]lb
		weight base=55 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	mutator "speed" "Swimming" (Base)30
	mutator "add_defense" "Resistance" (DamageType)"Specific" "Cold"
	mutator "feature" name="Amphibious" {
		description "You can breathe air and water."
	}
}