lineage name="Human I" {
	description "One of your birth parents is a human. You are adaptable."
	mutator "extend_life_expectancy" 50
	mutator-todo "add_size" {
		// height: 28"+[1,10]" = [29,38] = [2'5", 3'2"]
		height base=28 bonus=(Roll)"1d10"
		// weight: 55lb+([2,20]*[1,4]) = [57, 135]lb
		weight base=55 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	feature name="Ability Score Increase" {
		description "Choose three ability scores to each increase by 1."
		mutator "ability_score" {
			ability "Any" id="skillA" {
				cannot-match "skillB"
				cannot-match "skillC"
			}
			bonus 1
		}
		mutator "ability_score" {
			ability "Any" id="skillB" {
				cannot-match "skillA"
				cannot-match "skillC"
			}
			bonus 1
		}
		mutator "ability_score" {
			ability "Any" id="skillC" {
				cannot-match "skillA"
				cannot-match "skillB"
			}
			bonus 1
		}
	}
}