bundle category="Lineage" name="Human I" {
	description "One of your birth parents is a human. You are adaptable."
	mutator "extend_life_expectancy" 50
	mutator "add_size" {
		// height: 28"+[1,10]" = [29,38] = [2'5", 3'2"]
		height base=28 bonus=(Roll)"1d10"
		// weight: 110lb+([2,20]*[2,8]) = [114, 270]lb
		weight base=55 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	mutator "feature" name="Ability Score Increase" {
		description "Choose three ability scores to each increase by 1."
		mutator "ability_score" {
			ability "Any" id="abilityA" {
				cannot_match "abilityB"
				cannot_match "abilityC"
			}
			bonus 1
		}
		mutator "ability_score" {
			ability "Any" id="abilityB" {
				cannot_match "abilityA"
				cannot_match "abilityC"
			}
			bonus 1
		}
		mutator "ability_score" {
			ability "Any" id="abilityC" {
				cannot_match "abilityA"
				cannot_match "abilityB"
			}
			bonus 1
		}
	}
}