bundle category="Lineage" name="Grung II" {
	description "One of your birth parents is a grung. You have inherited skin that's poisonous to the touch."
	mutator "extend_life_expectancy" 50
	mutator "add_size" {
		// height: 13"+[1,6]" = [14,19] = [1'2", 1'7"]
		height base=13 bonus=(Roll)"1d6"
		// weight: 28lb+[2,12] = [30, 40]lb
		weight base=14 bonus=(Roll)"1d6"
	}
	mutator "speed" "Walking" (Base)25
	mutator "speed" "Climbing" (Base)25
	mutator "feature" name="Amphibious" unique=true {
		description "You can breathe air and water."
	}
	mutator "feature" name="Water Dependency" unique=true {
		description "If you fail to immerse yourself in water for at least 1 hour during a day, you suffer one level of exhaustion at the end of that day. You can only recover from this exhaustion through magic or by immersing yourself in water for at least 1 hour."
	}
	mutator "feature" name="Poisonous Skin" {
		description "Any creature that grapples you or otherwise comes into direct contact with your skin must succeed on a DC 12 Constitution saving throw or become poisoned for 1 minute. A poisoned creature no longer in direct contact with you can repeat the saving throw at the end of each of its turns, ending the effect on itself on a success."
	}
}