bundle category="Lineage" name="Deep Gnomish" {
	description "One of your birth parents is a deep gnome. You have inherited keen darkvision and resilience against hostile magic."
	mutator "extend_life_expectancy" 120
	mutator "add_size" {
		// height: 18"+[1,4]" = [19,22] = [1'7', 1'10"]
		height base=18 bonus=(Roll)"1d4"
		// weight: 26lb+([2,8]*2) = [30, 42]lb
		weight base=13 multiplier=1
	}
	mutator "speed" "Walking" (Base)25
	mutator "sense" "Darkvision" (Base)60
	mutator "feature" name="Superior Darkvision" {
		description "You have superior vision in dark and dim conditions. You can see in dim light within at least 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray."
		mutator "sense" "Darkvision" (Additive)60
	}
	mutator "feature" name="Gnome Cunning" {
		description "You have advantage on all Wisdom saving throws against magic."
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Wisdom" context="magic"
	}
}