lineage name="Forest Gnomish" {
	description "One of your birth parents is a forest gnome. You have innate illusionist magic."
	mutator "extend_life_expectancy" 225
	mutator-todo "add_size" {
		// height: 18"+[1,4]" = [19,22] = [1'7', 1'10"]
		height base=18 bonus=(Roll)"1d4"
		// weight: 15lb+([1,4]*[1,6]) = [16, 39]lb
		weight base=15 multiplier=(Roll)"1d6"
	}
	mutator "speed" "Walking" (Base)25
	mutator "sense" "Darkvision" (Base)60
	feature name="Gnome Cunning" {
		description "You have advantage on all Wisdom saving throws against magic."
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Wisdom" context="magic"
	}
	feature name="Natural Illusionist" {
		description "You know the minor illusion cantrip. Intelligence is your spellcasting ability for it."
		mutator "spellcasting" "add_prepared" ability="Intelligence" {
			spell "local://basic-rules@dnd5e/spells/minorIllusion.kdl"
		}
	}
}