bundle category="Lineage" name="Gnomish" {
	description "One of your birth parents is a gnome of any type or a mix of gnomish parentages. From your parentage, you have inherited magic resistance luck and can see in the dark."
	mutator "extend_life_expectancy" 225
	mutator "add_size" {
		// height: 18"+[1,4]" = [19,22] = [1'7', 1'10"]
		height base=18 bonus=(Roll)"1d4"
		// weight: 26lb+([2,8]*2) = [30, 42]lb
		weight base=13 multiplier=1
	}
	mutator "speed" "Walking" (Base)25
	mutator "sense" "Darkvision" (Base)60
	mutator "feature" name="Gnome Cunning" {
		description "You have advantage on all Intelligence and Charisma saving throws against magic."
		mutator "modify" (SavingThrow)"Specific" "Intelligence" "Advantage" context="magic"
		mutator "modify" (SavingThrow)"Specific" "Charisma" "Advantage" context="magic"
	}
}