bundle category="Lineage" name="Kobold III" {
	description "One of your birth parents is a kobold. You inherited a restless mind, keen senses, and the magic of an ancient draconic ancestor."
	mutator "extend_life_expectancy" 60
	mutator "add_size" {
		// height: 11"+[1,8]" = [12,19] = [1', 1'7"]
		height base=11 bonus=(Roll)"1d8"
		// weight: 18lb+[2,24] = [20, 42]lb
		weight base=9 bonus=(Roll)"1d12"
	}
	mutator "speed" "Walking" (Base)30
	mutator "add_proficiency" (Skill)"Specific" "Perception"
	mutator "feature" name="Restless" {
		description "When taking a long rest, you need only 2 hours of sleep and can spend the other 6 hours performing light activity."
	}
	mutator "feature" name="Dragon's Magic" {
		description "You know the fire bolt cantrip. When you reach 3rd level, you can cast the chromatic orb spell as a 2nd-level spell once with this trait and regain the ability to do so when you finish a long rest. When you reach 5th level, you can cast the scorching ray spell once with this trait and regain the ability to do so when you finish a long rest. Charisma is your spellcasting ability for these spells."
		mutator "by_level" {
			level 1 {
				mutator "spellcasting" "add_prepared" ability="Charisma" {
					spell "local://basic-rules@dnd5e/spells/fireBolt.kdl"
				}
			}
			level 3 {
				mutator "spellcasting" "add_prepared" ability="Charisma" {
					spell "wotc-phb@dnd5e/spells/chromaticOrb.kdl" rank=2
					limited_uses {
						max_uses 1
						reset_on "Long"
					}
				}
			}
			level 5 {
				mutator "spellcasting" "add_prepared" ability="Charisma" {
					spell "local://basic-rules@dnd5e/spells/scorchingRay.kdl"
					limited_uses {
						max_uses 1
						reset_on "Long"
					}
				}
			}
		}
	}
	mutator "feature" name="Sunlight Sensitivity" {
		// TODO: Disadvantage on attack rolls and skill for condition
		description "You have disadvantage on attack rolls and on Wisdom (Perception) checks that rely on sight when you, the target of your attack, or whatever you are trying to perceive is in direct sunlight."
	}
}