bundle category="Lineage" name="Kobold I" {
	description "One of your birth parents is a kobold. You have inherited the ability to see in the dark and stand against breath weapons."
	mutator "extend_life_expectancy" 60
	mutator "add_size" {
		// height: 11"+[1,8]" = [12,19] = [1', 1'7"]
		height base=11 bonus=(Roll)"1d8"
		// weight: 18lb+[2,24] = [20, 42]lb
		weight base=9 bonus=(Roll)"1d12"
	}
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	mutator "feature" name="Dragon's Resistance" {
		description {
			section "Dragon's Resistance. You have resistance to a type of damage based on a color of chromatic dragon (choose or roll a d10):"
			section table=true {
				headers "d10" "Damage Type"
				row "1-2" "acid (black)"
				row "3-4" "cold (white)"
				row "5-6" "fire (red)"
				row "7-8" "lightning (blue)"
				row "9-10" "poison (green)"
			}
		}
		mutator "add_defense" "Resistance" "AnyOf" {
			option (DamageType)"Acid"
			option (DamageType)"Cold"
			option (DamageType)"Fire"
			option (DamageType)"Lightning"
			option (DamageType)"Poison"
		}
	}
}