bundle category="Lineage" name="Warforged II" {
	description "One of your birth parents is a warforged. You have remarkable fortitude."
	// TODO: Age. Your life expectancy is unknown. You halve the effect of any magical aging. If your other birth parent is a warforged, you are immune to magical aging effects.
	mutator "add_size" {
		// height: 35"+[1,6]" = [36,41] = [3', 3'5"]
		height base=35 bonus=(Roll)"1d6"
		// weight: 256lb+([2,12]*[2,8]) = [260, 352]lb
		weight base=128 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	mutator "feature" name="Constructed Resilience" {
		description "You were created to have remarkable fortitude, represented by the following benefits:
		- You have advantage on saving throws against being poisoned, and you have resistance to poison damage.
		- You don't need to eat, drink, or breathe.
		- You are immune to disease.
		- You don't need to sleep, and magic can't put you to sleep."
		mutator "modify" (SavingThrow)"All" modifier="Advantage" context="being poisoned"
		mutator "add_defense" "Resistance" (DamageType)"Specific" "Poison"
		mutator "add_defense" "Immunity" context="Disease"
	}
}