bundle category="Lineage" name="Warforged I" {
	description "One of your birth parents is a warforged. You do not require sleep and have built-in protection."
	// TODO: Age. Your life expectancy is unknown. You halve the effect of any magical aging. If your other birth parent is a warforged, you are immune to magical aging effects.
	mutator "add_size" {
		// height: 35"+[1,6]" = [36,41] = [3', 3'5"]
		height base=35 bonus=(Roll)"1d6"
		// weight: 256lb+([2,12]*[2,8]) = [260, 352]lb
		weight base=128 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	mutator "feature" name="Sentry's Rest" {
		description "When you take a long rest, you must spend at least six hours in an inactive, motionless state, rather than sleeping. In this state, you appear inert, but it doesn't render you unconscious, and you can see and hear as normal."
	}
	mutator "feature" name="Integrated Protection" {
		description "Your body has built-in defensive layers, which can be enhanced with armor:
		- You gain a +1 bonus to Armor Class.
		- You can don only armor with which you have proficiency. To don armor, you must incorporate it into your body over the course of 1 hour, during which you remain in contact with the armor. To doff armor, you must spend 1 hour removing it. You can rest while donning or doffing armor in this way.
		- While you live, your armor can't be removed from your body against your will."
		mutator "modify" "ArmorClass" 1
	}
}