bundle category="Lineage" name="Eladrin" {
	description "One of your birth parents is an eladrin. You are associated with one of the four seasons and have innate magic reminiscent of that season."
	mutator "extend_life_expectancy" 375
	mutator "add_size" {
		// height: 27"+[1,12]" = [28,39] = [2'4", 3'3"]
		height base=27 bonus=(Roll)"1d12"
		// weight: 50lb+([1,12]) = [51, 62]lb
		weight base=50 multiplier=1
	}
	mutator "speed" "Walking" (Base)30
	mutator "pick" 1 name="Eladrin Season" {
		option "Autumn" {
			mutator "by_level" {
				level 1 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself up to 30 feet to an unoccupied space you can see."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
				level 3 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself up to 30 feet to an unoccupied space you can see. After you teleport, up to 2 creatures of your choice within 10 feet of you must succeed on a Wisdom saving throw (DC {DC}) or be charmed by you for 1 minute (or until it takes damage)."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							section "Immediately after you use your Fey Step, up to two creatures of your choice that you can see within 10 feet of you must succeed on a Wisdom saving throw (DC 8 + your proficiency bonus + your Charisma modifier) or be charmed by you for 1 minute, or until you or your companions deal any damage to it."
							format-arg "DC" "int" (Evaluator)"math" "Add" {
								value 8
								value (Evaluator)"get_proficiency_bonus"
								value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
							}
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
			}
		}
		option "Winter" {
			mutator "by_level" {
				level 1 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself up to 30 feet to an unoccupied space you can see."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
				level 3 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself up to 30 feet to an unoccupied space you can see. One creature within 5 feet of you prior to teleporting must succeed on a Wisdom saving throw (DC {DC}) or be frightened of you until the end of your next turn."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							section "When you use your Fey Step, one creature of your choice that you can see within 5 feet of you before you teleport must succeed on a Wisdom saving throw or be frightened of you until the end of your next turn."
							format-arg "DC" "int" (Evaluator)"math" "Add" {
								value 8
								value (Evaluator)"get_proficiency_bonus"
								value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
							}
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
			}
		}
		option "Spring" {
			mutator "by_level" {
				level 1 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself up to 30 feet to an unoccupied space you can see."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
				level 3 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself, or a willing creature you can touch within 5 feet of you, up to 30 feet to an unoccupied space you can see."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							section "When you use your Fey Step, you can touch one willing creature within 5 feet of you. That creature then teleports instead of you, appearing in an unoccupied space of your choice that you can see within 30 feet of you."
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
			}
		}
		option "Summer" {
			mutator "by_level" {
				level 1 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself up to 30 feet to an unoccupied space you can see."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
				level 3 {
					mutator "feature" name="Fey Step" {
						description {
							short "Magically teleport yourself up to 30 feet to an unoccupied space you can see. After you teleport, all creatures you choose within 5 feet of you take {dmg} fire damage."
							section "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest."
							section "Immediately after you use your Fey Step, each creature of your choice that you can see within 5 feet of you takes fire damage equal to your Charisma modifier (minimum of 1 damage)."
							format-arg "dmg" "int" (Evaluator)"math" "Add" min=1 {
								value (Evaluator)"get_ability_modifier" (Ability)"Charisma"
							}
							limited_uses {
								max_uses 1
								reset_on "Long"
							}
						}
					}
				}
			}
		}
	}
}