lineage name="Elven II" {
	description "One of your birth parents is an elf of any type or a mix of elven parentages. You don't need sleep and have keen senses."
	mutator "extend_life_expectancy" 375
	mutator "add_max_height" 27
	mutator "add_max_height" (Roll)"1d8"
	mutator "speed" "Walking" (Base)30
	mutator "add_proficiency" (Skill)"Specific" "Perception"
	feature name="Sylvan Magic" {
		description "When you reach 5th level, you can cast the pass without trace spell once with this trait, and you regain the ability to cast it this way when you finish a long rest. Wisdom is your spellcasting ability for this spell."
		mutator "by_level" {
			level 5 {
				mutator "spellcasting" "add_prepared" ability="Wisdom" {
					spell "basic-rules@dnd5e/spells/passWithoutTrace.kdl"
					limited_use {
						max_uses 1
						reset_on "Long"
					}
				}
			}
		}
	}
	feature name="Trance" {
		description "You don't need to sleep. Instead, you meditate deeply, remaining semiconscious, for 4 hours a day. (The Common word for such meditation is \"trance.\") After resting in this way, you gain the same benefit that a human does from 8 hours of sleep."
	}
}