lineage name="Shadar-Kai I" {
	description "One of your birth parents is a shadar-kai. You are adapted to the Shadowfell and can see in the dark."
	mutator "extend_life_expectancy" 375
	mutator "add_max_height" 28
	mutator "add_max_height" (Roll)"1d8"
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	mutator "add_defense" "Resistance" (DamageType)"Necrotic"
}