lineage name="Wood Eleven" {
	description "One of your birth parents is a wood elf. You have keen senses and quick feet."
	mutator "extend_life_expectancy" 375
	mutator "add_max_height" 27
	mutator "add_max_height" (Roll)"1d8"
	mutator "speed" "Walking" (Base)35
	mutator "sense" "Darkvision" (Base)60
	feature name="Sylvan Magic" {
		description "When you reach 5th level, you can cast the pass without trace spell once with this trait, and you regain the ability to cast it this way when you finish a long rest. Wisdom is your spellcasting ability for this spell."
		mutator-todo "by_level" {
			level 5 {
				mutator-todo "spellcasting" "add_prepared" ability="Wisdom" {
					spell "basic-rules@dnd5e/spells/passWithoutTrace.kdl"
					limited_use {
						max_uses 1
						reset_on "Long"
					}
				}
			}
		}
	}
}