lineage name="Changeling (Shape)" {
	description "One of your birth parents is a changeling. You can change your appearance at will.
	- Your life expectancy increases by 50 years.
	- Your height increases by 30 + 1d4 inches.
	- Your base walking speed is 30 feet."
	mutator "extend_life_expectancy" 50
	mutator "add_max_height" 30
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)30
	feature name="Shapechanger" {
		description "As an action, you can change your appearance. You determine the specifics of the changes, including your coloration, hair length, and sex. You can also adjust your height and weight, but not so much that your size changes. While shapechanged, none of your game statistics change. You can't duplicate the appearance of a creature you've never seen, and you must adopt a form that has the same basic arrangement of limbs that you have. Your voice, clothing, and equipment aren't changed by this trait. You stay in the new form until you use an action to revert to your true form or until you die."
	}
}