bundle category="Lineage" name="Changeling (Voice)" {
	description "One of your birth parents is a changeling. You can perfectly mimic another person's voice."
	mutator "extend_life_expectancy" 50
	mutator "add_size" {
		// height: 30"+[1,4]" = [31,34] = [2'7", 2'9"]
		height base=30 bonus=(Roll)"1d4"
		// weight: 116lb+([2,8]*[2,8]) = [124, 180]lb
		weight base=58 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	feature name="Voice Change" {
		description "As an action, you can change your voice. You can't duplicate the voice of a creature you've never heard. Your appearance remains the same. You keep your mimicked voice until you use an action to revert to your true voice."
		action "Action"
	}
}