bundle category="Lineage" name="Infernal I" {
	description "One of your birth parents is a tiefling or perhaps even a devil. You can take the heat and see in the dark."
	mutator "extend_life_expectancy" 55
	mutator "add_size" {
		// height: 29"+[1,8]" = [30,37] = [2'6', 3'1"]
		height base=29 bonus=(Roll)"1d8"
		// weight: 112lb+([2,16]*[2,8])+[4,40] = [120, 278]lb
		weight base=56 multiplier=(Roll)"1d4" bonus=(Roll)"2d10"
	}
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	mutator "add_defense" "Resistance" (DamageType)"Fire"
}