bundle category="Lineage" name="Infernal II" {
	description "One of your birth parents is a tiefling or perhaps even a devil. You inherited bat-like wings."
	mutator "extend_life_expectancy" 55
	mutator "add_size" {
		// height: 29"+[1,8]" = [30,37] = [2'6', 3'1"]
		height base=29 bonus=(Roll)"1d8"
		// weight: 112lb+([2,16]*[2,8])+[4,40] = [120, 278]lb
		weight base=56 multiplier=(Roll)"1d4" bonus=(Roll)"2d10"
	}
	mutator "speed" "Walking" (Base)30
	mutator "feature" name="Winged" {
		description "You have bat-like wings sprouting from your shoulder blades. You have a flying speed of 20 feet while you aren't wearing medium or heavy armor."
		mutator "apply_if" {
			criteria (Evaluator)"has_armor_equipped" inverted=true {
				kind "Medium"
				kind "Heavy"
			}
			mutator "speed" "Flying" (Base)20
		}
	}
}