
/*
	Aarakocra
	One of your birth parents is an aarakocra. You have feathered wings and can fly, and you gain natural weapons in the form of talons.
	You can choose this birth parent option twice.
	Age. Your life expectancy increases by 15 years.
	Size. Your height increases by 26 + 1d8 inches.
	Speed. Your base walking speed reduces to 25 feet.
	Flight. You have a flying speed of 20 feet. To use this speed, you can’t be wearing medium or heavy armor. If you already have a flying speed inherited from your other birth parent, increase your flying speed to 50 feet.
	Talons. Your talons are natural weapons, which you can use to make unarmed strikes. If you hit with them, you deal slashing damage equal to 1d4 + your Strength modifier, instead of the bludgeoning damage normal for an unarmed strike.
*/
lineage name="Aarakocra" limit=2 {
	description "One of your birth parents is an aarakocra. You have feathered wings and can fly, and you gain natural weapons in the form of talons."
	mutator "extend_life_expectancy" 15
	mutator "add_max_height" 26
	mutator "add_max_height" (Roll)"1d8"
	mutator "speed" "Walking" (Minimum)25
	feature name="Flight" {
		description "You have a flying speed of 20 feet. To use this speed, you can't be wearing medium or heavy armor. If you already have a flying speed, increase it by 20 feet."
		mutator "speed" "Flying" (Additive)20
		criteria "has_armor_equipped" inverted=true {
			kind "Medium"
			kind "Heavy"
		}
	}
	feature name="Talons" {
		description "Your talons are natural weapons, which you can use to make unarmed strikes. If you hit with them, you deal slashing damage equal to 1d4 + your Strength modifier, instead of the bludgeoning damage normal for an unarmed strike."
		unique // Can only be added once, even if lineage is selected twice
		action name="Talons" {
			activation "Action"
			attack {
				kind "Melee" reach=5
				check "AttackRoll" (Ability)"Strength" proficient=true
				damage {
					roll (Roll)"1d4"
					damage_type "Slashing"
				}
			}
		}
	}
}

lineage name="Firbolg I" {
	description "One of your birth parents is a firbolg. You have inherited a big stature and short bursts of invisibility."
	mutator "extend_life_expectancy" 250
	mutator "add_max_height" 37
	mutator "add_max_height" (Roll)"1d12"
	mutator "speed" "Walking" (Minimum)30
	feature name="Hidden Step" {
		description "As a bonus action, you can magically turn invisible until the start of your next turn or until you attack, make a damage roll, or force someone to make a saving throw. Once you use this trait, you can't use it again until you finish a short or long rest."
		// TODO: Action
	}
	feature name="Powerful Build" {
		description "You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift."
	}
}

lineage name="Firbolg II" {
	description "One of your birth parents is a firbolg. You have inherited innate magicks that help you stay undetected."
	mutator "extend_life_expectancy" 250
	mutator "add_max_height" 37
	mutator "add_max_height" (Roll)"1d12"
	mutator "speed" "Walking" (Minimum)30
	feature name="Firbolg Magic" {
		description "You can cast detect magic and disguise self with this trait, using Wisdom as your spellcasting ability for them. Once you cast either spell, you can't cast it again with this trait until you finish a short or long rest. When you use this version of disguise self, you can seem to be the height of humans or elves, allowing you to more easily blend in."
		// TODO: Spellcasting
	}
}

lineage name="Gnomish" {
	description "One of your birth parents is a gnome of any type or a mix of gnomish parentages. From your parentage, you have inherited magic resistance luck and can see in the dark."
	mutator "extend_life_expectancy" 225
	mutator "add_max_height" 18
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	mutator "sense" "Darkvision" (Minimum)60
	feature name="Gnome Cunning" {
		description "You have advantage on all Intelligence and Charisma saving throws against magic."
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Intelligence" context="magic"
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Charisma" context="magic"
	}
}

lineage name="Deep Gnomish" {
	description "One of your birth parents is a deep gnome. You have inherited keen darkvision and resilience against hostile magic."
	mutator "extend_life_expectancy" 120
	mutator "add_max_height" 18
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	mutator "sense" "Darkvision" (Minimum)60
	feature name="Superior Darkvision" {
		description "You have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray. Increase your darkvision's range by 60 feet."
		mutator "sense" "Darkvision" (Additive)60
	}
	feature name="Gnome Cunning" {
		description "You have advantage on all Wisdom saving throws against magic."
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Wisdom" context="magic"
	}
}

lineage name="Forest Gnomish" {
	description "One of your birth parents is a forest gnome. You have innate illusionist magic."
	mutator "extend_life_expectancy" 225
	mutator "add_max_height" 18
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	mutator "sense" "Darkvision" (Minimum)60
	feature name="Gnome Cunning" {
		description "You have advantage on all Wisdom saving throws against magic."
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Wisdom" context="magic"
	}
	feature name="Natural Illusionist" {
		description "You know the minor illusion cantrip. Intelligence is your spellcasting ability for it."
		// TODO: Spellcasting
	}
}

lineage name="Rock Gnomish" {
	description "One of your birth parents is a rock gnome. You have a restless mind and resistance to magic."
	mutator "extend_life_expectancy" 225
	mutator "add_max_height" 18
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	mutator "sense" "Darkvision" (Minimum)60
	feature name="Gnome Cunning" {
		description "You have advantage on all Wisdom saving throws against magic."
		mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Wisdom" context="magic"
	}
	feature name="Restless" {
		description "When taking a long rest, you need only 2 hours of sleep and can spend the other 6 hours performing light activity."
	}
}

lineage name="Goblinoid" {
	description "One of your birth parents is a goblinoid of any type (bugbear, goblin, or hobgoblin) or a mix of goblinoid parentages. You have goblinoid facial features and a thin coat of fur.
	- Your life expectancy is doubled."
	// Age. Double the life expectancy increase from your other birth parent to determine your total life expectancy.
	// Size. Double the height increase from your other birth parent to determine your total height.
	// TODO: Implement double expectancy
	//mutator "extend_life_expectancy" 225
	// TODO: Implement double max height
	//mutator "add_max_height" 18
	//mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)30
	mutator "sense" "Darkvision" (Minimum)60
	feature name="Ability Score Increase" {
		description "Your Dexterity or Constitution score increases by 1. You can't increase an ability score above 17 using this trait."
		mutator "ability_score" {
			ability "AnyOf" {
				option "Dexterity"
				option "Constitution"
			}
			bonus 1 max-total=17
		}
	}
}

lineage name="Goblin" {
	description "One of your birth parents is a goblin. Your reflexes are naturally quick and your stature small."
	mutator "extend_life_expectancy" 30
	mutator "add_max_height" 21
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)30
	feature name="Nimble Escape" {
		description "You can take the Disengage action as a bonus action on each of your turns."
		// TODO: List Disengage as a Bonus Action
	}
}

lineage name="Hobgoblin" {
	description "One of your birth parents is a hobgoblin. You have a wellspring of strength that powers your blows."
	mutator "extend_life_expectancy" 50
	mutator "add_max_height" 28
	mutator "add_max_height" (Roll)"1d10"
	mutator "speed" "Walking" (Minimum)30
	feature name="Reserves of Strength" {
		description "When you hit with a Strength-based melee weapon on your turn, you deal extra damage equal to your character level."
		// TODO: bonus to melee weapon w/ strength based on character level
	}
}

lineage name="Bugbear" {
	description "One of your birth parents is a bugbear. You have extraordinarily long and sinewy arms."
	mutator "extend_life_expectancy" 40
	mutator "add_max_height" 36
	mutator "add_max_height" (Roll)"1d12"
	mutator "speed" "Walking" (Minimum)30
	feature name="Long-Limbed" {
		description "When you make a melee attack on your turn, your reach for it is 5 feet greater than normal."
		// TODO: increase reach for melee attacks
	}
	feature name="Powerful Build" {
		description "You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift."
	}
}

lineage name="Goliath I" {
	description "One of your birth parents is a goliath. You have a hardy body and towering stature."
	mutator "extend_life_expectancy" 50
	mutator "add_max_height" 37
	mutator "add_max_height" (Roll)"1d10"
	mutator "speed" "Walking" (Minimum)30
	feature name="Stone's Endurance" {
		description "You can focus yourself to occasionally shrug off injury. When you take damage, you can use your reaction to roll a d12. Add your Constitution modifier to the number rolled, and reduce the damage by that total. After you use this trait, you can't use it again until you finish a short or long rest."
		// TODO: limited use reaction
	}
}

lineage name="Goliath II" {
	description "One of your birth parents is a goliath. You have inherited adaptations to extreme climates and a strong frame."
	mutator "extend_life_expectancy" 50
	mutator "add_max_height" 37
	mutator "add_max_height" (Roll)"1d10"
	mutator "speed" "Walking" (Minimum)30
	mutator "add_proficiency" (Skill)"Specific" "Athletics"
	feature name="Mountain Adaptation" {
		description "You're acclimated to high altitude, including elevations above 20,000 feet. You're also naturally adapted to cold climates, as described in chapter 5 of the Dungeon Master's Guide. In addition, you are resistant to cold damage."
		mutator "add_defense" "Resistance" (DamageType)"Cold"
	}
	feature name="Powerful Build" {
		description "You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift."
	}
}

lineage name="Grung I" {
	description "One of your birth parents is a grung. You have a powerful jump and poison glands."
	mutator "extend_life_expectancy" 50
	mutator "add_max_height" 15
	mutator "add_max_height" (Roll)"1d6"
	mutator "speed" "Walking" (Minimum)25
	mutator "speed" "Climbing" (Minimum)25
	feature name="Amphibious" unique=true {
		description "You can breathe air and water."
	}
	feature name="Water Dependency" unique=true {
		description "If you fail to immerse yourself in water for at least 1 hour during a day, you suffer one level of exhaustion at the end of that day. You can only recover from this exhaustion through magic or by immersing yourself in water for at least 1 hour."
	}
	feature name="Standing Leap" {
		description "Your long jump is up to 25 feet and your high jump is up to 15 feet, with or without a running start."
	}
	feature name="Poison Dart" {
		description "As an action, you can apply the poison of your skin to any piercing weapon. The target must succeed on a DC 12 Constitution saving throw or take 2d4 poison damage."
		// TODO: show feature as an action
	}
}

lineage name="Grung II" {
	description "One of your birth parents is a grung. You have inherited skin that's poisonous to the touch."
	mutator "extend_life_expectancy" 50
	mutator "add_max_height" 15
	mutator "add_max_height" (Roll)"1d6"
	mutator "speed" "Walking" (Minimum)25
	mutator "speed" "Climbing" (Minimum)25
	feature name="Amphibious" unique=true {
		description "You can breathe air and water."
	}
	feature name="Water Dependency" unique=true {
		description "If you fail to immerse yourself in water for at least 1 hour during a day, you suffer one level of exhaustion at the end of that day. You can only recover from this exhaustion through magic or by immersing yourself in water for at least 1 hour."
	}
	feature name="Poisonous Skin" {
		description "Any creature that grapples you or otherwise comes into direct contact with your skin must succeed on a DC 12 Constitution saving throw or become poisoned for 1 minute. A poisoned creature no longer in direct contact with you can repeat the saving throw at the end of each of its turns, ending the effect on itself on a success."
	}
}

lineage name="Halfling" {
	description "One of your birth parents is a halfling of any type or a mix of halfling parentages. You have inherited innate luck and diminutive form."
	mutator "extend_life_expectancy" 75
	mutator "add_max_height" 16
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	feature name="Childlike Appearance" {
		description "You have advantage on Deception or Persuasion skill checks (your choice) against creatures of Medium size or larger."
		// TODO: skill adv with selector
	}
	feature name="Halfling Nimbleness" {
		description "You can move through the space of any creature that is of a size larger than yours."
	}
	feature name="Lucky" {
		description "When you roll a 1 on the d20 for an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll."
	}
}

lineage name="Ghostwise Halfling" {
	description "One of your birth parents is a ghostwise halfling. You instinctively know how to climb and can communicate telepathically."
	mutator "extend_life_expectancy" 75
	mutator "add_max_height" 16
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	mutator "speed" "Climbing" (Minimum)20
	feature name="Silent Speech" {
		description "You can speak telepathically to any creatures of your choice within 60 feet of you. A creature understands you only if the two of you share a language."
	}
}

lineage name="Lightfoot Halfling" {
	description "One of your birth parents is a lightfoot halfling. You inherited instinctive stealth."
	mutator "extend_life_expectancy" 75
	mutator "add_max_height" 16
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	feature name="Naturally Stealthy" {
		description "You can attempt to hide even when you are obscured only by a creature that is at least one size larger than you."
	}
}

lineage name="Stout Halfling" {
	description "One of your birth parents is a stout halfling. You inherited vaguely dwarven traits but with a halfling stature.
	- Your base walking speed is 25 feet.
	- Your speed is not further reduced by wearing armor with a minimum required strength."
	mutator "extend_life_expectancy" 75
	mutator "add_max_height" 16
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	mutator "flag" "ArmorStrengthRequirement" false
	feature name="Stout Resilience" {
		description "You have advantage on saving throws against poison, and you have resistance against poison damage."
	}
}

lineage name="Human I" {
	description "One of your birth parents is a human. You are adaptable."
	mutator "extend_life_expectancy" 50
	mutator "add_max_height" 28
	mutator "add_max_height" (Roll)"1d10"
	mutator "speed" "Walking" (Minimum)30
	feature name="Ability Score Increase" {
		description "Choose three ability scores to each increase by 1."
		mutator "ability_score" {
			ability "Any" id="skillA" {
				cannot-match "skillB"
				cannot-match "skillC"
			}
			bonus 1
		}
		mutator "ability_score" {
			ability "Any" id="skillB" {
				cannot-match "skillA"
				cannot-match "skillC"
			}
			bonus 1
		}
		mutator "ability_score" {
			ability "Any" id="skillC" {
				cannot-match "skillA"
				cannot-match "skillB"
			}
			bonus 1
		}
	}
}

/*
Human II
One of your birth parents is a human. You inherited a stubborn resiliency.
Age. Your life expectancy increases by 50 years.
Size. Your height increases by 28 + 1d10 inches. Age. Your life expectancy increases by 50 years. Size. Your height increases by 28 + 1d10 inches.
Relentless Endurance. When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can’t use this feature again until you finish a long rest. If you already have the Relentless Endurance trait inherited from your other birth parent, immediately after using this trait, you can use your reaction to take an action.
*/

/*
Infernal I
One of your birth parents is a tiefling or perhaps even a devil. You can take the heat and see in the dark.
Age. Your life expectancy increases by 55 years.
Size. Your height increases by 29 + 1d8 inches.
Darkvision. You have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can’t discern color in darkness, only shades of gray.
Hellish Resistance. You have resistance to fire damage.
*/

/*
Infernal II
One of your birth parents is a tiefling or perhaps even a devil. You inherited bat-like wings.
Age. Your life expectancy increases by 55 years.
Size. Your height increases by 29 + 1d8 inches.
Winged. You have bat-like wings sprouting from your shoulder blades. You have a flying speed of 20 feet while you aren’t wearing medium or heavy armor.
*/

/*
Kenku I
One of your birth parents is a kenku. Though kenku no longer fly, they still have instincts that help in case of a great fall.
Age. Your life expectancy increases by 30 years.
Size. Your height increases by 26 + 1d8 inches.
Kenku Reflexes. You are proficient in the Acrobatics and Stealth skills.
Slow Fall. While falling, you can slow the speed at which you descend and halve the bludgeoning damage taken at the end of the fall.
*/

/*
Kenku II
One of your birth parents is a kenku. You have a keen mind and flight instincts.
Age. Your life expectancy increases by 30 years.
Size. Your height increases by 26 + 1d8 inches.
Instinctive Flight. You have advantage on checks made to use air vehicles and magic items that grant the ability to fly, such as brooms of flying or carpets of flying, as well as on checks to maintain concentration on a fly spell you have cast.
Perfect Memory. You can accurately recall anything you have seen or heard within the past year.
Talons. Your talons are natural weapons, which you can use to make unarmed strikes. If you hit with them, you deal slashing damage equal to 1d4 + your Strength modifier, instead of the bludgeoning damage normal for an unarmed strike.
*/

/*
Kobold I
One of your birth parents is a kobold. You have inherited the ability to see in the dark and stand against breath weapons.
Age. Your life expectancy increases by 60 years.
Size. Your height increases by 13 + 1d4 inches.
Darkvision. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can’t discern color in darkness, only shades of gray.
Dragon's Resistance. You have resistance to a type of damage based on a color of chromatic dragon (choose or roll a d10): 1–2, acid (black); 3–4, cold (white); 5–6, fire (red); 7–8, lightning (blue); 9–10, poison (green).
*/

/*
Kobold II
One of your birth parents is a kobold. You have grown a pair of draconic wings.
Age. Your life expectancy increases by 60 years.
Size. Your height increases by 13 + 1d4 inches.
Sunlight Sensitivity. You have disadvantage on attack rolls and on Wisdom (Perception) checks that rely on sight when you, the target of your attack, or whatever you are trying to perceive is in direct sunlight.
Wings. You have a pair of draconic wings. You have a flying speed of 30 feet. To use this speed, you can’t be wearing heavy armor.
*/

/*
Kobold III
One of your birth parents is a kobold. You inherited a restless mind, keen senses, and the magic of an ancient draconic ancestor.
Age. Your life expectancy increases by 60 years.
Size. Your height increases by 13 + 1d4 inches.
Dragon's Magic. You know the fire bolt cantrip. When you reach 3rd level, you can cast the chromatic orb spell as a 2nd-level spell once with this trait and regain the ability to do so when you finish a long rest. When you reach 5th level, you can cast the scorching ray spell once with this trait and regain the ability to do so when you finish a long rest. Charisma is your spellcasting ability for these spells.
Keen Senses. You have proficiency in the Perception skill.
Restless. When taking a long rest, you need only 2 hours of sleep and can spend the other 6 hours performing light activity.
Sunlight Sensitivity. You have disadvantage on attack rolls and on Wisdom (Perception) checks that rely on sight when you, the target of your attack, or whatever you are trying to perceive is in direct sunlight.
*/

/*
Orc I
One of your birth parents is an orc. You can see in the dark and carry heavy loads.
Age. Your life expectancy increases by 35 years.
Size. Your height increases by 27 + 1d8 inches.
Darkvision. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can’t discern color in darkness, only shades of gray.
Powerful Build. You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift.
*/

/*
Orc II
One of your birth parents is an orc. You inherited a stubborn resiliency.
Age. Your life expectancy increases by 35 years.
Size. Your height increases by 27 + 1d8 inches.
Relentless Endurance. When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can’t use this feature again until you finish a long rest. If you already have the Relentless Endurance trait inherited from your other birth parent, immediately after using this trait, you can use your reaction to take one action.
*/

/*
Tortle I
One of your birth parents is a tortle. You have a soft shell and claws.
Age. Your life expectancy increases by 25 years.
Size. Your height increases by 29 + 1d8 inches.
Claws. Your claws are natural weapons, which you can use to make unarmed strikes. If you hit with them, you deal slashing damage equal to 1d4 + your Strength modifier, instead of the bludgeoning damage normal for an unarmed strike.
Natural Armor. Your shell provides some protection, giving you a base AC of 14 + your Dexterity modifier. If you are using a shield, you can apply the shield’s bonus as normal. If you already have the Natural Armor trait inherited from your other birth parent, your shell hardens and thickens. You have a base AC of 17, but your Dexterity modifier no longer affects this number and you gain no benefit from wearing armor.
Shell Defense. You can withdraw into your shell as an action. Until you emerge, you gain a +2 bonus to AC, and you have advantage on Strength and Constitution saving throws. While in your shell, you are prone, your speed is 0 and can’t increase, you have disadvantage on Dexterity saving throws, you can’t take reactions, and the only action you can take is a bonus action to emerge from your shell. If you already have the Shell Defense trait inherited from your other birth parent, you gain a +4 bonus to AC with this trait.
*/

/*
Tortle II
One of your birth parents is a tortle. You have a soft shell and can hold your breath for a long time.
Age. Your life expectancy increases by 25 years.
Size. Your height increases by 29 + 1d8 inches.
Hold Breath. You can hold your breath for up to 1 hour at a time. You aren’t a natural swimmer, but you can remain underwater for some time before needing to come up for air.
Natural Armor. Your shell provides some protection, giving you a base AC of 14 + your Dexterity modifier. If you are using a shield, you can apply the shield’s bonus as normal. If you already have the Natural Armor trait inherited from your other birth parent, your shell hardens and thickens. You have a base AC of 17, but your Dexterity modifier no longer affects this number and you gain no benefit from wearing armor.
Shell Defense. You can withdraw into your shell as an action. Until you emerge, you gain a +2 bonus to AC, and you have advantage on Strength and Constitution saving throws. While in your shell, you are prone, your speed is 0 and can’t increase, you have disadvantage on Dexterity saving throws, you can’t take reactions, and the only action you can take is a bonus action to emerge from your shell. If you already have the Shell Defense trait inherited from your other birth parent, you gain a +4 bonus to AC with this trait.
*/

/*
Triton I
One of your birth parents is a triton. You can breathe water and swim like a fish.
Age. Your life expectancy increases by 100 years.
Size. Your height increases by 27 + 1d10 inches.
Amphibious. You can breathe air and water.
Guardians of the Depths. Adapted to the frigid ocean depths, you have resistance to cold damage.
Swim. You have a swimming speed of 30 feet.
*/

/*
Triton II
One of your birth parents is a triton. You can see in the dark depths and have inborn acid resistance.
Age. Your life expectancy increases by 100 years.
Size. Your height increases by 27 + 1d10 inches.
Darkvision. You can see in dim light within 60 feet of you as if it were bright light and in darkness as if it were dim light. You can’t discern color in darkness, only shades of gray.
Acid Resistance. You have resistance to acid damage.
*/

/*
Warforged I
One of your birth parents is a warforged. You do not require sleep and have built-in protection.
Age. Your life expectancy is unknown. You halve the effect of any magical aging. If your other birth parent is a warforged, you are immune to magical aging effects.
Size. Your height increases by 35 + 1d6 inches.
Sentry’s Rest. When you take a long rest, you must spend at least six hours in an inactive, motionless state, rather than sleeping. In this state, you appear inert, but it doesn’t render you unconscious, and you can see and hear as normal.
Integrated Protection. Your body has built-in defensive layers, which can be enhanced with armor:
- You gain a +1 bonus to Armor Class.
- You can don only armor with which you have proficiency. To don armor, you must incorporate it into your body over the course of 1 hour, during which you remain in contact with the armor. To doff armor, you must spend 1 hour removing it. You can rest while donning or doffing armor in this way.
- While you live, your armor can’t be removed from your body against your will.
*/

/*
Warforged II
One of your birth parents is a warforged. You have remarkable fortitude.
Age. Your life expectancy is unknown. You halve the effect of any magical aging. If your other birth parent is a warforged, you are immune to magical aging effects.
Size. Your height increases by 35 + 1d6 inches.
Constructed Resilience. You were created to have remarkable fortitude, represented by the following benefits:
- You have advantage on saving throws against being poisoned, and you have resistance to poison damage.
- You don’t need to eat, drink, or breathe.
- You are immune to disease.
- You don’t need to sleep, and magic can’t put you to sleep.
*/
