system "dnd5e"
lineage name="Mountain Dwarven" {
	description "One of your birth parents is a mountain dwarf. You are strong and hardy.
	- Your life expectancy increases by 175 years.
	- Your height increases by 22 + 1d4 inches.
	- Your base walking speed is 25 feet.
	- Your speed is not reduced by wearing armor with a minimum required strength."
	mutator "extend_life_expectancy" 175
	mutator "add_max_height" 22
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Minimum)25
	mutator "sense" "Darkvision" (Minimum)60
	mutator "flag" "ArmorStrengthRequirement" false
	feature name="Ability Score Increase" {
		description "Your Strength score increases by 1. You can't increase an ability score above 17 using this trait."
		/* TODO: If the total score (other bonuses included) is >17, do not apply this bonus
		mutator "add_ability_score" {
			ability (Specific)"Strength"
			bonus 1
			max_total_score 17
		}
		*/
	}
}