bundle category="Upbringing" name="Agressive" {
	description "You were raised among a people who value and reward strength, ferocity, and aggression."
	mutator "ability_score" {
		ability "Specific" "Strength"
		bonus 1
	}
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"AnyOf" id="lang" {
		option "Common"
		option "Dwarvish"
		option "Elvish"
		option "Giant"
		option "Gnomish"
		option "Goblin"
		option "Halfling"
		option "Orc"
	}
	mutator "add_proficiency" (Skill)"Specific" "Intimidation"
	// TODO: action not feature
	feature name="Aggressive" {
		description "As a bonus action, you can move up to your speed toward an enemy of your choice that you can see or hear. You must end this move closer to the enemy than you started."
	}
}
