upbringing name="Airship" {
	description "You were raised aboard on an airship among its captains and sailors."
	mutator "ability_score" {
		ability "Specific" "Charisma"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Dexterity"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"AnyOf" id="lang" {
		option "Common"
		option "Dwarvish"
		option "Elvish"
		option "Giant"
		option "Gnomish"
		option "Goblin"
		option "Halfling"
		option "Orc"
	}
	feature name="Windwright's Intuition" {
		description "When you make a Dexterity (Acrobatics) check or any ability check involving navigator's tools, you can roll a d4 and add the number rolled to the ability check."
	}
}
