bundle category="Upbringing" name="Avernus" {
	description "You were raised in Avernus, the First Hell, or among a people who hail from there."
	mutator "ability_score" {
		ability "Specific" "Charisma"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Strength"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Specific" "Infernal"
	mutator "feature" name="Legacy of Avernus" {
		description "You know the thaumaturgy cantrip. Charisma is your spellcasting ability for this spell."
		mutator "spellcasting" "add_prepared" ability="Charisma" {
			spell "local://basic-rules@dnd5e/spells/thaumaturgy.kdl"
		}
	}
}
