bundle category="Upbringing" name="Defiant" {
	description "You were raised to stand up to others, even those bigger and stronger than you."
	mutator "ability_score" {
		ability "Specific" "Dexterity"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"AnyOf" id="lang" {
		option "Common"
		option "Dwarvish"
		option "Elvish"
		option "Giant"
		option "Gnomish"
		option "Goblin"
		option "Halfling"
		option "Orc"
	}
	mutator "feature" name="Fury of the Small" {
		description "When you damage a creature with an attack or a spell and the creature's size is larger than yours, you can cause the attack or spell to deal extra damage to the creature. The extra damage equals your level. Once you use this trait, you can't use it again until you finish a short or long rest."
	}
}
