bundle category="Upbringing" name="Dis" {
	description "You were raised in Dis, the Second Hell, or among a people who hail from there."
	mutator "ability_score" {
		ability "Specific" "Charisma"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Dexterity"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Specific" "Infernal"
	mutator "feature" name="Legacy of Dis" {
		description "You know the thaumaturgy cantrip. Charisma is your spellcasting ability for this spell."
		mutator "spellcasting" "innate" {
			method "AtWill"
			spells ability="Charisma" {
				spell "github://flux-tabletop:dnd5e-basic-rules-2014@dnd5e/spells/thaumaturgy.kdl"
			}
		}
	}
}
