upbringing name="Efretti" {
	description "You were raised on the Elemental Plane of Fire or in an efreeti's palace on the Material Plane."
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Intelligence"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Specific" "Primordial"
	feature name="Reach to the Blaze" {
		description "You know the produce flame cantrip. Constitution is your spellcasting ability for this spell."
		// TODO: Spellcasting
	}
}
