bundle category="Upbringing" name="Fierce" {
	description "You were raised among a people that taught you to stand up for yourself and not back down."
	mutator "ability_score" {
		ability "Specific" "Strength"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Dexterity"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Skill)"Specific" "Intimidation"
}
