bundle category="Upbringing" name="Guardian" {
	description "You were raised among bodyguards, city watch, soldiers, mercenaries, or those employed in other martial trades."
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Wisdom"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"AnyOf" id="lang" {
		option "Common"
		option "Dwarvish"
		option "Elvish"
		option "Giant"
		option "Gnomish"
		option "Goblin"
		option "Halfling"
		option "Orc"
	}
	mutator "feature" name="Sentinel's Intuition" {
		description "When you make a Wisdom (Insight) or Wisdom (Perception) check, you can roll a d4 and add the number rolled to the ability check."
	}
}
