upbringing name="Incognito" {
	description "You were brought up by those who were not what they seemed."
	mutator "ability_score" {
		ability "Specific" "Charisma"
		bonus 2
	}
	mutator "ability_score" {
		ability "AnyOf" id="ability" {
			option "Strength"
			option "Dexterity"
			option "Constitution"
			option "Intelligence"
			option "Wisdom"
		}
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Any" id="langA"
	mutator "add_proficiency" (Language)"Any" id="langB"
	mutator "add_proficiency" (Skill)"AnyOf" id="skill" {
		option "Deception"
		option "Insight"
		option "Intimidation"
		option "Persuasion"
	}
}