upbringing name="Laborer" {
	description "You were brought up to perform a specific task or take up a specialized trade."
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 2
	}
	mutator "ability_score" {
		ability "AnyOf" id="ability" {
			option "Str"
			option "Dex"
			option "Int"
			option "Wis"
			option "Cha"
		}
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Any" id="lang"
	mutator "add_proficiency" (Skill)"Any" id="skill"
	// TODO: Tool and Language "Any" should provide a default list
	// of languages or tools to select from, in addition to a text field.
	// This can be driven by data by defining languages and tools (tools are kinda taken care of by items).
	mutator "add_proficiency" (Tool)"Any" id="tool"
}
