bundle category="Upbringing" name="Marid" {
	description "You were raised on the Elemental Plane of Water or in a marid's palace on the Material Plane."
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 2
	}
	mutator "ability_score" {
		ability "Specific" "Wisdom"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Specific" "Primordial"
	mutator "feature" name="Call to the Wave" {
		description "You know the shape water cantrip. Constitution is your spellcasting ability for this spell."
		mutator "spellcasting2" "innate" {
			method "AtWill"
			spells ability="Constitution" {
				spell "github://flux-tabletop:wotc-pota@dnd5e/spells/shapeWater.kdl"
			}
		}
	}
}
