upbringing name="Maritime" {
	description "You were raised among sea creatures with whom you have an affinity."
	mutator "ability_score" {
		ability "Specific" "Strength"
		bonus 1
	}
	mutator "ability_score" {
		ability "Specific" "Constitution"
		bonus 1
	}
	mutator "ability_score" {
		ability "Specific" "Charisma"
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Any" id="lang"
	feature name="Emissary of the Sea" {
		description "Aquatic beasts have an extraordinary affinity with your people. You can communicate simple ideas with beasts that can breathe water. They can understand the meaning of your words, though you have no special ability to understand them in return."
	}
}
