bundle category="Upbringing" name="Raven Queen (Ally)" {
	description "You were raised among a people who personally serve the Raven Queen in the Shadowfell."
	mutator "ability_score" {
		ability "AnyOf" id="ability" {
			option "Dex"
			option "Con"
		}
		bonus 1
	}
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"AnyOf" id="lang" {
		option "Common"
		option "Dwarvish"
		option "Elvish"
		option "Giant"
		option "Gnomish"
		option "Goblin"
		option "Halfling"
		option "Orc"
	}
	// TODO: action not feature
	mutator "feature" name="Improved Blessing of the Raven Queen" {
		description "As a bonus action, you can magically teleport up to 30 feet to an unoccupied space you can see. Once you use this trait, you can't do so again until you finish a long rest. Starting at 3rd level, you also gain resistance to all damage when you teleport using this trait. The resistance lasts until the start of your next turn. During that time, you appear ghostly and translucent."
	}
}
