bundle category="Upbringing" name="Water Mage" {
	description "You were taught from a young age to shape the salty air and water of your homeland."
	mutator "add_proficiency" (Language)"Specific" "Common"
	mutator "add_proficiency" (Language)"Any" id="lang"
	mutator "add_proficiency" (Weapon)"Spear"
	mutator "add_proficiency" (Weapon)"Trident"
	mutator "add_proficiency" (Weapon)"CrossbowLight"
	mutator "add_proficiency" (Weapon)"Net"
	mutator "feature" name="Control Air and Water" {
		description "You can cast fog cloud with this trait. Starting at 3rd level, you can cast gust of wind with it, and starting at 5th level, you can also cast wall of water with it. Once you cast a spell with this trait, you can't cast that spell with it again until you finish a long rest. Charisma is your spellcasting ability for these spells."
		mutator "spellcasting" "add_prepared" ability="Charisma" {
			spell "local://basic-rules@dnd5e/spells/fogCloud.kdl"
			limited_uses {
				max_uses 1
				reset_on "Long"
			}
		}
		mutator "by_level" {
			level 3 {
				mutator "spellcasting" "add_prepared" ability="Charisma" {
					spell "local://basic-rules@dnd5e/spells/gustOfWind.kdl"
					limited_uses {
						max_uses 1
						reset_on "Long"
					}
				}
			}
			level 5 {
				mutator "spellcasting" "add_prepared" ability="Charisma" {
					spell "local://wotc-pota@dnd5e/spells/wallOfWater.kdl"
					limited_uses {
						max_uses 1
						reset_on "Long"
					}
				}
			}
		}
	}
}