lineage name="Tortle II" {
	description "One of your birth parents is a tortle. You have a soft shell and can hold your breath for a long time."
	mutator "extend_life_expectancy" 25
	mutator "add_max_height" 29
	mutator "add_max_height" (Roll)"1d8"
	mutator "speed" "Walking" (Base)30
	feature name="Hold Breath" {
		description "You can hold your breath for up to 1 hour at a time. You aren't a natural swimmer, but you can remain underwater for some time before needing to come up for air."
	}
	feature name="Natural Armor" {
		description "Your shell provides some protection, giving you a base AC of 14 + your Dexterity modifier. If you are using a shield, you can apply the shield's bonus as normal.
		If you already have the Natural Armor trait inherited from your other birth parent, your shell hardens and thickens. You have a base AC of 17, but your Dexterity modifier no longer affects this number and you gain no benefit from wearing armor."
		// TODO: Change mutators depending on how many instances of this feature are granted
		mutator-todo "stack_instances" "Natural Armor" {
			size 1 {
				mutator "add_armor_class_formula" base=14 {
					bonus "Dexterity"
				}
			}
			size 2 {
				mutator "add_armor_class_formula" base=17
				mutator-todo // TODO: flag character to never be able to benefit from armor
			}
		}
	}
	// TODO: Only ever show 1 instance of features which allow stacking
	mutator "add_action" name="Shell Defense" {
		description "You can withdraw into your shell as an action. Until you emerge, you gain a +2 bonus to AC, and you have advantage on Strength and Constitution saving throws. While in your shell, you are prone, your speed is 0 and can't increase, you have disadvantage on Dexterity saving throws, you can't take reactions, and the only action you can take is a bonus action to emerge from your shell. If you already have the Shell Defense trait inherited from your other birth parent, you gain a +4 bonus to AC with this trait." {
			short "Withdraw into shell to get AC bonus and advantage on Strength and Constitution saving throws. While withdrawn, you are prone, have no speed or reactions, disadvantage on Dexterity saving throws, and can only use a bonus action to emerge from your shell."
		}
		activation "Action"
		condition "Custom" name="Shell Defense" {
			// TODO: Conditions can imply other conditions
			imply "basic-rules@dnd5e/condition/prone.kdl"
			// TODO: Change mutators depending on how many instances of this feature are granted
			mutator-todo "stack_instances" "Shell Defense" {
				size 1 {
					mutator-todo "bonus_ac" 2
				}
				size 2 {
					mutator-todo "bonus_ac" 4
				}
			}
			mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Strength"
			mutator "add_modifier" "Advantage" (SavingThrow)"Specific" "Constitution"
			mutator-todo "speed" "All" (Set)0
			mutator "add_modifier" "Disadvantage" (SavingThrow)"Specific" "Dexterity"
			mutator-todo "action_budget" "Action" (Set)0
			mutator-todo "action_budget" "Reaction" (Set)0
		}
	}
}