lineage name="Celestial I" {
	description "One of your birth parents is an aasimar or perhaps even a celestial. You can see in the dark and heal others with a touch."
	mutator "extend_life_expectancy" 80
	mutator "add_max_height" 28
	mutator "add_max_height" (Roll)"1d10"
	mutator "speed" "Walking" (Minimum)30
	mutator "sense" "Darkvision" (Minimum)60
	mutator "add_action" name="Healing Hands" {
		description "As an action, you can touch a creature and cause it to regain a number of hit points equal to your level. Once you use this trait, you can't use it again until you finish a long rest."
		activation "Action"
		limited_use {
			max_uses 1
			reset_on (Rest)"Long"
		}
	}
}