lineage name="Celestial II" {
	description "One of your birth parents is an aasimar or perhaps even a celestial. You are shielded from dark powers and can conjure light."
	mutator "extend_life_expectancy" 80
	mutator "add_size" {
		// height: 28"+[1,10]" = [29,38] = [2'5", 3'2"]
		height base=28 bonus=(Roll)"1d10"
		// weight: 110lb+([2,20]*[2,8]) = [114, 270]lb
		weight base=55 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	feature name="Celestial Resistance" {
		description "You have resistance to necrotic damage and radiant damage."
		mutator "add_defense" "Resistance" (DamageType)"Necrotic"
		mutator "add_defense" "Resistance" (DamageType)"Radiant"
	}
	feature name="Light Bearer" {
		description "You know the light cantrip. Charisma is your spellcasting ability for it."
		mutator "spellcasting" "add_prepared" ability="Charisma" {
			spell "local://basic-rules@dnd5e/spells/light.kdl"
		}
	}
}