lineage name="Celestial I" {
	description "One of your birth parents is an aasimar or perhaps even a celestial. You can see in the dark and heal others with a touch."
	mutator "extend_life_expectancy" 80
	mutator "add_size" {
		// height: 28"+[1,10]" = [29,38] = [2'5", 3'2"]
		height base=28 bonus=(Roll)"1d10"
		// weight: 110lb+([2,20]*[2,8]) = [114, 270]lb
		weight base=55 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	feature name="Healing Hands" {
		description "As an action, you can touch a creature and cause it to regain a number of hit points equal to your level. Once you use this trait, you can't use it again until you finish a long rest."
		action "Action" {
			limited_use {
				max_uses 1
				reset_on (Rest)"Long"
			}
		}
	}
}