system "dnd5e"
lineage name="Celestial I" {
	description "One of your birth parents is an aasimar or perhaps even a celestial. You can see in the dark and heal others with a touch.
	- Your life expectancy increases by 80 years.
	- Your height increases by 28 + 1d10 inches.
	- Your base walking speed is 30 feet."
	mutator "extend_life_expectancy" 80
	mutator "add_max_height" 28
	mutator "add_max_height" (Roll)"1d10"
	mutator "add_max_speed" "Walking" 30
	mutator "add_max_sense" "Darkvision" 60
	feature name="Healing Hands" {
		description "As an action, you can touch a creature and cause it to regain a number of hit points equal to your level. Once you use this trait, you can't use it again until you finish a long rest."
		limited_use {
			max_uses 1
			reset_on (Rest)"Long"
		}
	}
}