bundle category="Lineage" name="Bugbear" {
	description "One of your birth parents is a bugbear. You have extraordinarily long and sinewy arms."
	mutator "extend_life_expectancy" 40
	mutator "add_size" {
		// height: 36"+[1,12]" = [37,48] = [3'1', 4']
		height base=36 bonus=(Roll)"1d12"
		// weight: 234lb+([2,24]*2)+[2,12] = [240, 294]lb
		weight base=117 multiplier=1 bonus=(Roll)"1d6"
	}
	mutator "speed" "Walking" (Base)30
	feature name="Long-Limbed" {
		description "When you make a melee attack on your turn, your reach for it is 5 feet greater than normal."
		// TODO: increase reach for melee attacks
	}
	feature name="Powerful Build" {
		description "You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift."
	}
}