lineage name="Goblinoid" {
	description "One of your birth parents is a goblinoid of any type (bugbear, goblin, or hobgoblin) or a mix of goblinoid parentages. You have goblinoid facial features and a thin coat of fur."
	// Age. Double the life expectancy increase from your other birth parent to determine your total life expectancy.
	// Size. Double the height increase from your other birth parent to determine your total height.
	mutator-todo "extend_life_expectancy" "Multiply" 2
	mutator-todo "add_size" {
		height "Multiply" 2
		weight "Multiply" 2
	}
	mutator "speed" "Walking" (Base)30
	mutator "sense" "Darkvision" (Base)60
	feature name="Ability Score Increase" {
		description "Your Dexterity or Constitution score increases by 1. You can't increase an ability score above 17 using this trait."
		mutator "ability_score" {
			ability "AnyOf" {
				option "Dexterity"
				option "Constitution"
			}
			bonus 1 max-total=17
		}
	}
}