bundle category="Lineage" name="Goblin" {
	description "One of your birth parents is a goblin. Your reflexes are naturally quick and your stature small."
	mutator "extend_life_expectancy" 30
	mutator "add_size" {
		// height: 21"+[1,4]" = [22,25] = [1'10', 2'1"]
		height base=21 bonus=(Roll)"1d4"
		// weight: 26lb+([2,8]*[2,8]) = [30, 90]lb
		weight base=18 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	feature name="Nimble Escape" {
		description "You can take the Disengage action as a bonus action on each of your turns."
		mutator "feature" name="Disengage" collapsed=true {
			description "Your movement doesn't provoke opportunity attacks for the rest of the turn."
			action "Bonus"
		}
	}
}