lineage name="Goblin" {
	description "One of your birth parents is a goblin. Your reflexes are naturally quick and your stature small."
	mutator "extend_life_expectancy" 30
	mutator "add_max_height" 21
	mutator "add_max_height" (Roll)"1d4"
	mutator "speed" "Walking" (Base)30
	feature name="Nimble Escape" {
		description "You can take the Disengage action as a bonus action on each of your turns."
		// TODO: List Disengage as a Bonus Action
	}
}