bundle category="Lineage" name="Hobgoblin" {
	description "One of your birth parents is a hobgoblin. You have a wellspring of strength that powers your blows."
	mutator "extend_life_expectancy" 50
	mutator "add_size" {
		// height: 28"+[1,10]" = [29,38] = [2'5', 3'2"]
		height base=28 bonus=(Roll)"1d10"
		// weight: 120lb+([2,20]*4)+[2,20] = [130, 220]lb
		weight base=60 multiplier=2 bonus=(Roll)"1d10"
	}
	mutator "speed" "Walking" (Base)30
	mutator "feature" name="Reserves of Strength" {
		description "When you hit with a Strength-based melee weapon on your turn, you deal extra damage equal to your character level."
		mutator "modify" (Attack)"Damage" {
			damage {
				amount (Evaluator)"get_level"
			}
			query {
				weapon "Simple" "Martial"
				attack "Melee"
				ability "Strength"
			}
		}
	}
}