lineage name="Elemental (Dao)" {
	description "One of your birth parents is an earth genasi, dao, or creature from the Elemental Plane of Earth. You have inherited thick skin and an affinity with earth and stone."
	mutator "extend_life_expectancy" 60
	mutator-todo "add_size" {
		// height: 28"+[1,10]" = [29,38] = [2'5", 3'2"]
		height base=28 bonus=(Roll)"1d10"
		// weight: 55lb+([2,20]*[1,4]) = [57, 135]lb
		weight base=55 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	feature name="Earth Walk" {
		description "You can move across difficult terrain made of earth or stone without expending extra movement."
	}
	feature name="Natural Armor" {
		description "When you aren't wearing armor, your AC is 12 + your Constitution modifier. You can use your natural armor to determine your AC if the armor you wear would leave you with a lower AC. A shield's benefits apply as normal while you use your natural armor."
		criteria "has_armor_equipped" inverted=true {
			kind "Light"
			kind "Medium"
			kind "Heavy"
		}
		mutator "add_armor_class_formula" base=12 {
			bonus "Constitution"
		}
	}
	feature name="Petrification Resistance" {
		description "You have advantage on saving throws against being petrified."
		mutator "add_modifier" "Advantage" (SavingThrow)"All" context="being petrified"
	}
}