lineage name="Elemental (Djinni)" {
	description "One of your birth parents is an air genasi, djinni, or creature from the Elemental Plane of Air. You never want for air and can weather virtually any storm."
	mutator "extend_life_expectancy" 60
	mutator "add_max_height" 28
	mutator "add_max_height" (Roll)"1d10"
	mutator "speed" "Walking" (Base)30
	mutator "add_defense" "Resistance" (DamageType)"Lightning"
	mutator "add_defense" "Resistance" (DamageType)"Thunder"
	feature name="Unending Breath" {
		description "You can hold your breath indefinitely while you're not incapacitated."
	}
}