lineage name="Elemental (Efreeti)" {
	description "One of your birth parents is a fire genasi, efreeti, or creature from the Elemental Plane of Fire. You can see in the dark and take the heat."
	mutator "extend_life_expectancy" 60
	mutator "add_max_height" 28
	mutator "add_max_height" (Roll)"1d10"
	mutator "speed" "Walking" (Base)30
	mutator "add_defense" "Resistance" (DamageType)"Fire"
	feature name="Darkvision" {
		description "You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. Your ties to the Elemental Plane of Fire make your darkvision unusual: everything you see in darkness is in a shade of red."
		mutator "sense" "Darkvision" (Base)60
	}
}