lineage name="Elemental (Marid)" {
	description "One of your birth parents is a water genasi, marid, or other elemental from the Elemental Plane of Water. You have inherited thick skin and an affinity with seas and rivers."
	mutator "extend_life_expectancy" 60
	mutator-todo "add_size" {
		// height: 28"+[1,10]" = [29,38] = [2'5", 3'2"]
		height base=28 bonus=(Roll)"1d10"
		// weight: 55lb+([2,20]*[1,4]) = [57, 135]lb
		weight base=55 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	mutator "speed" "Swimming" (Base)30
	mutator "add_defense" "Resistance" (DamageType)"Acid"
	feature name="Amphibious" {
		description "You can breathe air and water."
	}
}