bundle category="Lineage" name="Dwarven" {
	description "One of your birth parents is a dwarf of any type or a mix of dwarven parentages. You are sturdy and resistant to poison.
	- Your base walking speed is 25 feet.
	- Your speed is not further reduced by wearing armor with a minimum required strength."
	mutator "extend_life_expectancy" 175
	mutator "add_size" {
		// height: 23"+[1,4]" = [24,27] = [2', 2'3"]
		height base=23 bonus=(Roll)"1d4"
		// weight: 116lb+([2,8]*[2,12]) = [122, 212]lb
		weight base=58 multiplier=(Roll)"1d6"
	}
	mutator "speed" "Walking" (Base)25
	mutator "sense" "Darkvision" (Base)60
	mutator "flag" "ArmorStrengthRequirement" false
	mutator "feature" name="Dwarven Resilience" {
		description "You have advantage on saving throws against poison, and you have resistance against poison damage."
		mutator "add_modifier" "Advantage" (SavingThrow)"All" context="Poison"
		mutator "add_defense" "Resistance" (DamageType)"Specific" "Poison"
	}
}