lineage name="Mountain Dwarven" {
	description "One of your birth parents is a mountain dwarf. You are strong and hardy.
	- Your base walking speed is 25 feet.
	- Your speed is not reduced by wearing armor with a minimum required strength."
	mutator "extend_life_expectancy" 175
	mutator-todo "add_size" {
		// height: 22"+[1,4]" = [23,26] = [1'11', 2'2"]
		height base=22 bonus=(Roll)"1d4"
		// weight: 58lb+([1,4]*[2,12]) = [60, 106]lb
		weight base=58 multiplier=(Roll)"2d6"
	}
	mutator "speed" "Walking" (Base)25
	mutator "sense" "Darkvision" (Base)60
	mutator "flag" "ArmorStrengthRequirement" false
	feature name="Ability Score Increase" {
		description "Your Strength score increases by 1. You can't increase an ability score above 17 using this trait."
		mutator "ability_score" {
			ability "Specific" "Strength"
			bonus 1 max-total=17
		}
	}
}