lineage name="Draconic I" {
	description "One of your birth parents is a dragonborn or perhaps even a dragon. You have inherited a destructive breath weapon."
	mutator "extend_life_expectancy" 40
	mutator "add_size" {
		// height: 35"+[1,8]" = [36,43] = [3', 3'7"]
		height base=35 bonus=(Roll)"1d8"
		// weight: 110lb+([2,16]*[2,12])+[6,72] = [120, 374]lb
		weight base=55 multiplier=(Roll)"1d6" bonus=(Roll)"3d12"
	}
	mutator "speed" "Walking" (Base)30
	mutator-todo "pick_one" {
		option "Mutators" name="Black Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Black dragon ancestry, you emit Acid damage in a 5 by 30 ft. line.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Acid"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Blue Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Blue dragon ancestry, you emit Lightning damage in a 5 by 30 ft. line.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Lightning"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Brass Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Brass dragon ancestry, you emit Fire damage in a 5 by 30 ft. line.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Fire"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Bronze Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Bronze dragon ancestry, you emit Lightning damage in a 5 by 30 ft. line.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Lightning"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Copper Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Copper dragon ancestry, you emit Acid damage in a 5 by 30 ft. line.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Acid"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Gold Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Gold dragon ancestry, you emit Fire damage in a 15 ft. cone.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Cone" length=15
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Fire"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Green Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Green dragon ancestry, you emit Poison damage in a 15 ft. cone.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Constitution saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Constitution"
						}
						area_of_effect "Cone" length=15
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Poison"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Red Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Red dragon ancestry, you emit Fire damage in a 15 ft. cone.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Cone" length=15
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Fire"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="Silver Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your Silver dragon ancestry, you emit Cold damage in a 15 ft. cone.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Constitution saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Constitution"
						}
						area_of_effect "Cone" length=15
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Cold"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Mutators" name="White Dragon Ancestry" {
			mutator-todo "feature" name="Breath Weapon" {
				description "You can use your action to exhale destructive energy. With your White dragon ancestry, you emit Cold damage in a 15 ft. cone.
				
				When you use your breath weapon, each creature in the area of the exhalation must make a Constitution saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

				After you use your breath weapon, you can't use it again until you complete a short or long rest."
				action "Action" {
					attack-todo /*no kind*/ {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Constitution"
						}
						area_of_effect "Cone" length=15
						damage {
							// TODO: Need scaling damage
							roll (Evaluator)"by_character_level" {
								option 1 (Roll)"2d6"
								option 3 (Roll)"3d6"
								option 11 (Roll)"4d6"
								option 16 (Roll)"5d6"
							}
							damage_type (DamageType)"Cold"
						}
					}
					limited_use {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
	}
}