bundle category="Lineage" name="Draconic I" {
	description "One of your birth parents is a dragonborn or perhaps even a dragon. You have inherited a destructive breath weapon."
	mutator "extend_life_expectancy" 40
	mutator "add_size" {
		// height: 35"+[1,8]" = [36,43] = [3', 3'7"]
		height base=35 bonus=(Roll)"1d8"
		// weight: 110lb+([2,16]*[2,12])+[6,72] = [120, 374]lb
		weight base=55 multiplier=(Roll)"1d6" bonus=(Roll)"3d12"
	}
	mutator "speed" "Walking" (Base)30
	mutator "pick" 1 name="Draconic Ancestry" {
		option "Black Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 5 by 30 ft. line. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Acid damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Black dragon ancestry, you emit Acid damage in a 5 by 30 ft. line.
				
					When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Acid"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Blue Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 5 by 30 ft. line. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Lightning damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Blue dragon ancestry, you emit Lightning damage in a 5 by 30 ft. line.
				
					When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Lightning"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Brass Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 5 by 30 ft. line. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Fire damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Brass dragon ancestry, you emit Fire damage in a 5 by 30 ft. line.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Fire"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Bronze Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 5 by 30 ft. line. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Lightning damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Bronze dragon ancestry, you emit Lightning damage in a 5 by 30 ft. line.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Lightning"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Copper Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 5 by 30 ft. line. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Acid damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Copper dragon ancestry, you emit Acid damage in a 5 by 30 ft. line.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Line" width=5 length=30
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Acid"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Gold Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 15 ft. cone. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Fire damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Gold dragon ancestry, you emit Fire damage in a 15 ft. cone.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Cone" length=15
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Fire"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Green Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 15 ft. cone. All creatures in the area must make a Constitution saving throw (DC {DC}), taking {amt}d6 Poison damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Green dragon ancestry, you emit Poison damage in a 15 ft. cone.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Constitution saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Constitution"
						}
						area_of_effect "Cone" length=15
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Poison"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Red Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 15 ft. cone. All creatures in the area must make a Dexterity saving throw (DC {DC}), taking {amt}d6 Fire damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Red dragon ancestry, you emit Fire damage in a 15 ft. cone.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Dexterity saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Dexterity"
						}
						area_of_effect "Cone" length=15
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Fire"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "Silver Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 15 ft. cone. All creatures in the area must make a Constitution saving throw (DC {DC}), taking {amt}d6 Cold damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your Silver dragon ancestry, you emit Cold damage in a 15 ft. cone.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Constitution saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Constitution"
						}
						area_of_effect "Cone" length=15
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Cold"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
		option "White Dragon Ancestry" {
			mutator "feature" name="Breath Weapon" {
				description {
					short "You emit destructive energy in a 15 ft. cone. All creatures in the area must make a Constitution saving throw (DC {DC}), taking {amt}d6 Cold damage on a failed save and half as much on a successful one."
					section "You can use your action to exhale destructive energy. With your White dragon ancestry, you emit Cold damage in a 15 ft. cone.
					
					When you use your breath weapon, each creature in the area of the exhalation must make a Constitution saving throw. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.

					After you use your breath weapon, you can't use it again until you complete a short or long rest."
					format-arg "DC" "int" (Evaluator)"math" "Add" {
						value 8
						value (Evaluator)"get_ability_modifier" (Ability)"Constitution"
						value (Evaluator)"get_proficiency_bonus"
					}
					format-arg "amt" "int" (Evaluator)"get_level" {
						level 1 2
						level 6 3
						level 11 4
						level 16 5
					}
				}
				action "Action" {
					attack {
						check "SavingThrow" {
							difficulty_class 8 {
								ability_bonus "Constitution"
								proficiency_bonus true
							}
							save_ability (Ability)"Constitution"
						}
						area_of_effect "Cone" length=15
						damage {
							roll {
								amount (Evaluator)"get_level" {
									level 1 2
									level 6 3
									level 11 4
									level 16 5
								}
								die 6
							}
							damage_type (DamageType)"Cold"
						}
					}
					limited_uses {
						max_uses 1
						reset_on "Short"
					}
				}
			}
		}
	}
}