lineage name="Firbolg I" {
	description "One of your birth parents is a firbolg. You have inherited a big stature and short bursts of invisibility."
	mutator "extend_life_expectancy" 250
	mutator-todo "add_size" {
		// height: 37"+[1,12]" = [38,49] = [3'2", 4'1"]
		height base=37 bonus=(Roll)"1d12"
		// weight: 109lb+([1,12]*[1,4]) = [110, 157]lb
		weight base=109 multiplier=(Roll)"1d4"
	}
	mutator "speed" "Walking" (Base)30
	feature name="Hidden Step" {
		description "As a bonus action, you can magically turn invisible until the start of your next turn or until you attack, make a damage roll, or force someone to make a saving throw. Once you use this trait, you can't use it again until you finish a short or long rest."
		action "Bonus" {
			condition "basic-rules@dnd5e/condition/invisible.kdl"
			limited_uses {
				max_uses 1
				reset_on "Short"
			}
		}
	}
	feature name="Powerful Build" {
		description "You count as one size larger when determining your carrying capacity and the weight you can push, drag, or lift."
	}
}