bundle category="Lineage" name="Firbolg II" {
	description "One of your birth parents is a firbolg. You have inherited innate magicks that help you stay undetected."
	mutator "extend_life_expectancy" 250
	mutator "add_size" {
		// height: 37"+[1,12]" = [38,49] = [3'2", 4'1"]
		height base=37 bonus=(Roll)"1d12"
		// weight: 234lb+([2,24]*2)+[2,16] = [240, 298]lb
		weight base=117 multiplier=1 bonus=(Roll)"2d8"
	}
	mutator "speed" "Walking" (Base)30
	mutator "feature" name="Firbolg Magic" {
		description "You can cast detect magic and disguise self with this trait, using Wisdom as your spellcasting ability for them. Once you cast either spell, you can't cast it again with this trait until you finish a short or long rest. When you use this version of disguise self, you can seem to be the height of humans or elves, allowing you to more easily blend in."
		mutator "spellcasting" "add_prepared" ability="Wisdom" {
			spell "github://flux-tabletop:dnd5e-basic-rules-2014@dnd5e/spells/detectMagic.kdl"
			limited_uses {
				max_uses 1
				reset_on "Short"
			}
		}
		mutator "spellcasting" "add_prepared" ability="Wisdom" {
			spell "github://flux-tabletop:dnd5e-basic-rules-2014@dnd5e/spells/disguiseSelf.kdl"
			limited_uses {
				max_uses 1
				reset_on "Short"
			}
		}
	}
}